#----------------------------------------------------------------
# fhs

/bin
/boot/
/dev/
#/etc/
/home/
/init*
/lib*
**/lost+found/
/media/
/mnt/
#/opt/
/proc/
/root/
/run/
/sbin
/srv/
/sys/
/tmp/
/usr/
/var/
/vmlinuz*

/src/*/.classpath
/src/*/.project
/src/*/.settings/
/src/*/target/
/src/*/log/

# dotfiles
/.*
!/.bin/
!/.git-hooks/
!/.gitattributes
!/.gitignore

#----------------------------------------------------------------
# %USERPROFILE%

/AppData/
/Application Data
/Contacts/
/Cookies
/Desktop/
/Documents/
/Downloads/
/Favorites/
/Links/
/Local Settings
/Music/
/My Documents
/NTUSER.DAT*
/ntuser.*
/NetHood
/OneDrive/
/Pictures/
/PrintHood
/Recent
/Saved Games/
/Searches/
/SendTo
/Templates
/Videos/
/スタート メニュー

#----------------------------------------------------------------
# files

*.exe
*.o
*.class
*.jar
*.war
*.ear
*.tar
*.tar.gz
*.rar
*.bz
*.bz2
*.gz
*.zip
*.7z
*.lzh
*.log

# temporary
*~
~*
*.swp
*.swap
*.tmp
*.temp
