#----------------------------------------------------------------
# userhome

# %USERPROFILE%
/3D Objects/
/AppData/
/Application Data
/Contacts/
/Cookies
/Desktop/
/Documents/
/Downloads/
/Favorites/
/Links/
/Local Settings
/Music/
/My Documents
/NTUSER.DAT*
/NetHood
/OneDrive/
/Pictures/
/PrintHood
/Recent
/Saved Games/
/Searches/
/SendTo
/Templates
/Videos/
/ntuser.*
/スタート メニュー

# ${HOME}
/.*
/doc/*.png
/lib/
/mnt/
/opt/
/src/**/.settings/
/src/**/.classpath
/src/**/.project
/src/**/target/
/src/com.github/
/src/com.gitlab/
/src/org.golang/
/tmp/
/ダウンロード/
/テンプレート/
/デスクトップ/
/ドキュメント/
/ビデオ/
/音楽/
/画像/
/公開/

#----------------------------------------------------------------
# files

# binary
*.iso
*.exe
*.o
*.class
*.jar
*.war
*.ear
*.tar
*.tar.gz
*.tgz
*.rar
*.bz
*.bz2
*.gz
*.zip
*.7z
*.lzh
*.log
*.db

# temporary
*~
~*
*.swp
*.swap
*.tmp
*.temp

gocryptfs.conf

/.sudo_as_admin_successful
/snap/
