<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="off">

  <Properties>
    <Property name="logdir">./log</Property>
    <Property name="charset">UTF-8</Property>
  </Properties>

  <Appenders>

    <Console name="stdout" target="SYSTEM_OUT">
      <PatternLayout pattern="%msg%n" />
    </Console>

    <Console name="stderr" target="SYSTEM_ERR">
      <PatternLayout pattern="%msg%n" />
    </Console>

    <RollingFile name="file" fileName="${logdir}/log.txt" filePattern="${logdir}/%d{yyyy-MM-dd}_%i.gz">
      <PatternLayout pattern="[%highlight{%-5level}][%d{yyyy-MM-dd HH:mm:ss.SSS}][%pid][%t]: %msg%n" charset="${charset}" />
      <Policies>
        <TimeBasedTriggeringPolicy />
      </Policies>
      <DefaultRolloverStrategy />
    </RollingFile>

  </Appenders>

  <Loggers>

    <Root level="error">
      <AppenderRef ref="file" />
      <AppenderRef ref="stderr" />
    </Root>

    <Logger level="trace" name="_0" additivity="false">
      <AppenderRef ref="file" />
      <AppenderRef ref="stdout" />
    </Logger>

  </Loggers>

</Configuration>
