# shell
  bash-completion
# zsh
# fish

# hw
  lshw
  lsscsi
  usbutils

# fw
  firmware-linux
  firmware-realtek
  firmware-iwlwifi

# fs
  parted
  cryptsetup
  lvm2
  gocryptfs

# fuse
  fuse
  archivemount
  cifs-utils

# nw
  openssl
  openssh-client
  openssh-server

# pcsc
  pcscd
  pcsc-tools
  libpcsclite-dev
  opensc
  libccid
  libnfc-bin

# util
  uuid-runtime
  openssl
  gnupg2
  curl
  jq

# git
  git
  git-crypt
  git-lfs

# dev
  autoconf
  libtool
  libssl-dev

# go
  golang

# python
  python3
  python3-pip
  python3-venv

# container
  podman
  containerd
