com.nvidia           https://nvidia.github.io/libnvidia-container/gpgkey                                    https://nvidia.github.io/libnvidia-container/stable/deb/$(ARCH) /                                   # https://nvidia.github.io/nvidia-container-runtime/
org.virtualbox       https://www.virtualbox.org/download/oracle_vbox_2016.asc                               https://download.virtualbox.org/virtualbox/${ID}                ${VERSION_CODENAME}         contrib # https://www.virtualbox.org/wiki/Linux_Downloads
com.unity            https://hub.unity3d.com/linux/keys/public                                              https://hub.unity3d.com/linux/repos/deb                         stable                      main    # https://docs.unity3d.com/hub/manual/InstallHub.html
org.winehq           https://dl.winehq.org/wine-builds/winehq.key                                           https://dl.winehq.org/wine-builds/${ID}                         ${VERSION_CODENAME}         main    # https://gitlab.winehq.org/wine/wine/-/wikis/Debian-Ubuntu
org.torproject       https://deb.torproject.org/torproject.org/A3C4F0F979CAA22CDBA8F512EE8CBC9E886DDD89.asc https://deb.torproject.org/torproject.org                       ${VERSION_CODENAME}         main    # https://support.torproject.org/little-t-tor/getting-started/installing/
io.k8s.pkgs          https://pkgs.k8s.io/core:/stable:/v1.34/deb/Release.key                                https://pkgs.k8s.io/core:/stable:/v1.34/deb/                    /                                   # https://kubernetes.io/ja/docs/setup/production-environment/tools/kubeadm/install-kubeadm/
jp.usacloud          https://releases.usacloud.jp/usacloud/repos/GPG-KEY-usacloud                           https://releases.usacloud.jp/usacloud/repos/debian              /                                   # https://knowledge.sakura.ad.jp/10875/
com.google.cloud-sdk https://packages.cloud.google.com/apt/doc/apt-key.gpg                                  https://packages.cloud.google.com/apt                           cloud-sdk                   main    # https://cloud.google.com/sdk/docs/install#deb
com.microsoft.code   https://packages.microsoft.com/keys/microsoft.asc                                      https://packages.microsoft.com/repos/code                       stable                      main    # https://code.visualstudio.com/docs/setup/linux
com.github           https://cli.github.com/packages/githubcli-archive-keyring.gpg                          https://cli.github.com/packages                                 stable                      main    # https://github.com/cli/cli/blob/trunk/docs/install_linux.md#debian
com.nordvpn          https://repo.nordvpn.com/gpg/nordvpn_public.asc                                        https://repo.nordvpn.com/deb/nordvpn/${ID}                      stable                      main    # https://support.nordvpn.com/hc/ja/articles/20196094470929

#com.google.gcsfuse   https://packages.cloud.google.com/apt/doc/apt-key.gpg                                  https://packages.cloud.google.com/apt                           gcsfuse-${VERSION_CODENAME} main    #
#com.google.chrome    https://dl-ssl.google.com/linux/linux_signing_key.pub                                  https://dl.google.com/linux/chrome/deb                          stable                      main
#com.microsoft.dotnet https://packages.microsoft.com/keys/microsoft.asc                                      https://packages.microsoft.com/${ID}/${VERSION_ID}/prod         ${VERSION_CODENAME}         main    # https://learn.microsoft.com/ja-jp/dotnet/core/install/linux-debian
#com.docker           https://download.docker.com/linux/${ID}/gpg                                            https://download.docker.com/linux/${ID}                         ${VERSION_CODENAME}         stable  # https://docs.docker.com/engine/install/debian/
